<style>
    img{
    width: 300px;height: 200px;margin:auto;padding:5px
    }
</style>
<div class="row">
    <center>
    <div class="thumb">
        <img src="{{thumb}}" alt="{{title}}">
    </div>
    <span style="font-size: 2em;">{{title}}</span>
    <br>
    <span>views : {{view}}</span>
    <hr>
    </center>
    {{{data}}}
</div>
{{!-- {{data}} --}}